# Used to generate the client in July 2023; compatible with OpenAPI 3.0.x specs
# openapi-python-client==0.14.1

# Compatible with OpenAPI 3.0.x specs; throws 270+ validation errors
# see: https://github.com/openapi-generators/openapi-python-client/blob/main/CHANGELOG.md#0152-2023-09-16
# openapi-python-client==0.15.2

# Compatible with OpenAPI 3.1.x specs; prints warnings because of missing references
# see: https://github.com/openapi-generators/openapi-python-client/blob/main/CHANGELOG.md#0173-2024-02-20
# openapi-python-client==0.17.3

# Compatible with OpenAPI 3.1.x specs; prints warnings because of missing references
# see: https://github.com/openapi-generators/openapi-python-client/blob/main/CHANGELOG.md#0211-2024-06-15
openapi-python-client==0.21.1
