{
  "openapi": "3.1.0",
  "info": {
    "title": "plenigo API v3",
    "description": "This is the OpenAPI description for accessing the plenigo platform.\n\nAll API calls are by default synchronous. Asynchronous calls are marked.\n\nBe aware that default values may not be delivered - according to JSON standard empty values may be omitted from returned objects.\n",
    "version": "API.250513-MINOR",
    "contact": {
      "url": "https://github.com/plenigo/plenigo-doc"
    }
  },
  "servers": [
    {
      "url": "https://api.plenigo.com/api/v3.0"
    }
  ],
  "security": [
    {
      "plenigoToken": []
    }
  ],
  "tags": [
    {
      "name": "Access Rights",
      "description": "Required Access-Right: ACCESS_RIGHTS"
    },
    {
      "name": "Activities",
      "description": "Required Access-Right: ACTIVITIES"
    },
    {
      "name": "Addresses",
      "description": "Required Access-Right: CUSTOMERS"
    },
    {
      "name": "Corporate Accounts",
      "description": "Required Access-Right: CUSTOMERS"
    },
    {
      "name": "Customers",
      "description": "Required Access-Right: CUSTOMERS"
    },
    {
      "name": "Payment Methods",
      "description": "Required Access-Right: CUSTOMERS"
    },
    {
      "name": "Sessions",
      "description": "Required Access-Right: CUSTOMERS"
    },
    {
      "name": "Accounting",
      "description": "Required Access-Right: ACCOUNTINGS"
    },
    {
      "name": "Disputes",
      "description": "Required Access-Right: TRANSACTIONS"
    },
    {
      "name": "Invoices",
      "description": "Required Access-Right: INVOICES"
    },
    {
      "name": "Refunds",
      "description": "Required Access-Right: TRANSACTIONS"
    },
    {
      "name": "Transactions",
      "description": "Required Access-Right: TRANSACTIONS"
    },
    {
      "name": "Order Imports",
      "description": "Required Access-Right: IMPORTS"
    },
    {
      "name": "Backend User Session",
      "description": "Required Access-Right: no token needed in header, but as requestBody"
    },
    {
      "name": "Checkout",
      "description": "Required Access-Right: CHECKOUT"
    },
    {
      "name": "Login",
      "description": "Required Access-Right: PROCESSES"
    },
    {
      "name": "Password Forgotten",
      "description": "Required Access-Right: PROCESSES"
    },
    {
      "name": "Process Settings",
      "description": "Required Access-Right: PROCESSES"
    },
    {
      "name": "Registration",
      "description": "Required Access-Right: PROCESSES"
    },
    {
      "name": "Sso Provider Login",
      "description": "Required Access-Right: PROCESSES"
    },
    {
      "name": "Age Rules",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Bonuses",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Cross Sellings",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Delivery Lists",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "IVW Rules",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Misuse Rules",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Offers",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Price Country Segments",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Price Issues",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Product Access Rights",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Product Contracts",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Product Tags",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Shopping Carts",
      "description": "Required Access-Right: PRODUCTS"
    },
    {
      "name": "Vouchers",
      "description": "Required Access-Right: VOUCHERS"
    },
    {
      "name": "App Stores",
      "description": "Required Access-Right: APPSTORES"
    },
    {
      "name": "Orders",
      "description": "Required Access-Right: APPSTORES"
    },
    {
      "name": "Subscriptions",
      "description": "Required Access-Right: APPSTORES"
    },
    {
      "name": "Wallets",
      "description": "Required Access-Right: WALLETS"
    },
    {
      "name": "Callback Logs",
      "description": "Required Access-Right: CALLBACKS"
    },
    {
      "name": "Downloads",
      "description": "Required Access-Right: DOWNLOADS"
    },
    {
      "name": "Mail Logs",
      "description": "Required Access-Right: CALLBACKS"
    },
    {
      "name": "Sftp Logs",
      "description": "Required Access-Right: SFTP"
    },
    {
      "name": "Api Access Tokens",
      "description": "Required Access-Right: any token"
    },
    {
      "name": "Additional Data Selections",
      "description": "Required Access-Right: SETTINGS"
    },
    {
      "name": "Blocked ibans",
      "description": "Required Access-Right: SETTINGS"
    },
    {
      "name": "Customer Cancellation Reasons",
      "description": "Required Access-Right: SETTINGS"
    },
    {
      "name": "Customer OptIns",
      "description": "Required Access-Right: SETTINGS"
    },
    {
      "name": "Customer Terms",
      "description": "Required Access-Right: SETTINGS"
    },
    {
      "name": "Sort Tree Leafs",
      "description": "Required Access-Right: SETTINGS"
    },
    {
      "name": "Text Module Settings",
      "description": "Required Access-Right: SETTINGS"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Customers",
      "tags": [
        "Access Rights",
        "Activities",
        "Addresses",
        "Corporate Accounts",
        "Customers",
        "Payment Methods",
        "Sessions"
      ]
    },
    {
      "name": "Finance",
      "tags": [
        "Accounting",
        "Disputes",
        "Invoices",
        "Refunds",
        "Transactions"
      ]
    },
    {
      "name": "Imports",
      "tags": [
        "Order Imports"
      ]
    },
    {
      "name": "Merchant Backend",
      "tags": [
        "Backend User Session"
      ]
    },
    {
      "name": "Processes",
      "tags": [
        "Checkout",
        "Login",
        "Password Forgotten",
        "Process Settings",
        "Registration",
        "Sso Provider Login"
      ]
    },
    {
      "name": "Products",
      "tags": [
        "Age Rules",
        "Bonuses",
        "Cross Sellings",
        "Delivery Lists",
        "In App Offers",
        "IVW Rules",
        "Misuse Rules",
        "Offers",
        "Price Country Segments",
        "Price Issues",
        "Product Access Rights",
        "Product Contracts",
        "Product Tags",
        "Shopping Carts",
        "Vouchers"
      ]
    },
    {
      "name": "Purchases",
      "tags": [
        "App Stores",
        "Orders",
        "Subscriptions",
        "Wallets"
      ]
    },
    {
      "name": "Reports",
      "tags": [
        "Callback Logs",
        "Downloads",
        "Mail Logs",
        "Sftp Logs"
      ]
    },
    {
      "name": "Settings",
      "tags": [
        "Api Access Tokens",
        "Additional Data Selections",
        "Blocked ibans",
        "Customer Cancellation Reasons",
        "Customer OptIns",
        "Customer Terms",
        "Sort Tree Leafs",
        "Text Module Settings"
      ]
    }
  ],
  "paths": {
    "/accessRights": {
      "get": {
        "summary": "Search access rights",
        "operationId": "searchAccessRights",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Search all access rights that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightsData"
                },
                "examples": {
                  "accessRightsDataExample": {
                    "$ref": "#/components/examples/accessRightsDataExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accessRights/{customerId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerIdPath"
        }
      ],
      "get": {
        "summary": "Get all customer access rights",
        "operationId": "getAccessRightsForCustomer",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Get all access rights for a customer identified by the passed customer id.\n",
        "responses": {
          "200": {
            "description": "Returns all access rights of a customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightData"
                },
                "examples": {
                  "accessRightDataExample": {
                    "$ref": "#/components/examples/accessRightDataExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create customer access right",
        "operationId": "createAccessRightsForCustomer",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Create a new access right item with the data provided for a customer identified by the passed customer id.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRightItemCreation"
              },
              "examples": {
                "accessRightExample": {
                  "$ref": "#/components/examples/accessRightCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Access right item was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightData"
                },
                "examples": {
                  "accessRightDataExample": {
                    "$ref": "#/components/examples/accessRightDataExample"
                  }
                }
              }
            }
          },
          "208": {
            "description": "Access right with provided access right item id already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightData"
                },
                "examples": {
                  "accessRightDataExample": {
                    "$ref": "#/components/examples/accessRightDataExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accessRights/{customerId}/{accessRightUniqueId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerIdPath"
        },
        {
          "$ref": "#/components/parameters/accessRightUniqueIdPath"
        }
      ],
      "put": {
        "summary": "Update customer access right",
        "operationId": "updateAccessRightForCustomer",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Updates an access right item with the data provided for a customer identified by the passed customer id.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRightItemBase"
              },
              "examples": {
                "accessRightExample": {
                  "$ref": "#/components/examples/accessRightBaseExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access right item was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightData"
                },
                "examples": {
                  "accessRightDataExample": {
                    "$ref": "#/components/examples/accessRightDataExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete customer access right",
        "operationId": "deleteAccessRightForCustomer",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Delete an access right item for a customer identified by the passed customer id.\n",
        "responses": {
          "202": {
            "description": "Access right item was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStatus"
                },
                "examples": {
                  "sessionExample": {
                    "$ref": "#/components/examples/successStatusExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accessRights/{customerId}/{accessRightUniqueId}/{itemId}/block": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerIdPath"
        },
        {
          "$ref": "#/components/parameters/accessRightUniqueIdPath"
        },
        {
          "$ref": "#/components/parameters/itemIdPath"
        }
      ],
      "put": {
        "summary": "Block customer access right item",
        "operationId": "blockCustomerAccessRightItem",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Block an access right item of type EXTERNAL or SINGLE_PRODUCT for a customer.\n",
        "responses": {
          "202": {
            "description": "Access right item was successfully blocked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStatus"
                },
                "examples": {
                  "successStatusExample": {
                    "$ref": "#/components/examples/successStatusExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accessRights/{customerId}/{accessRightUniqueId}/{itemId}/unblock": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerIdPath"
        },
        {
          "$ref": "#/components/parameters/accessRightUniqueIdPath"
        },
        {
          "$ref": "#/components/parameters/itemIdPath"
        }
      ],
      "put": {
        "summary": "Unblock customer access right item",
        "operationId": "unblockCustomerAccessRightItem",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Unblock an access right item of type EXTERNAL or SINGLE_PRODUCT for a customer.\n",
        "responses": {
          "202": {
            "description": "Access right item was successfully unblocked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStatus"
                },
                "examples": {
                  "successStatusExample": {
                    "$ref": "#/components/examples/successStatusExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accessRights/{customerId}/hasAccess": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerIdPath"
        },
        {
          "$ref": "#/components/parameters/accessRightUniqueIdsQuery"
        }
      ],
      "get": {
        "summary": "Check customer has access",
        "operationId": "checkAccessOfCustomer",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Check if customer has a valid access right for one or multiple access rights identified by the provided access right unique ids.\n",
        "responses": {
          "200": {
            "description": "Contains detailed information about the allowed accesses of a customer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightDataGranted"
                },
                "examples": {
                  "accessRightDataExample": {
                    "$ref": "#/components/examples/accessRightDataGrantedExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/costCenters": {
      "get": {
        "summary": "Search cost centers",
        "operationId": "searchCostCenters",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "description": "Search all cost centers that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenters"
                },
                "examples": {
                  "costCentersExample": {
                    "$ref": "#/components/examples/costCentersExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create cost center",
        "operationId": "createCostCenter",
        "tags": [
          "Accounting"
        ],
        "description": "Create a new cost center with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostCenterCreation"
              },
              "examples": {
                "costCenterCreationExample": {
                  "$ref": "#/components/examples/costCenterCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cost center that was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenter"
                },
                "examples": {
                  "costCenterExample": {
                    "$ref": "#/components/examples/costCenterExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/costCenters/{costCenterId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/costCenterIdPath"
        }
      ],
      "get": {
        "summary": "Get cost center",
        "operationId": "getCostCenter",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "description": "Get cost center that is identified by the passed cost center id.\n",
        "responses": {
          "200": {
            "description": "Returns cost center details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenter"
                },
                "examples": {
                  "costCenterExample": {
                    "$ref": "#/components/examples/costCenterExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update cost center",
        "operationId": "updateCostCenter",
        "tags": [
          "Accounting"
        ],
        "description": "Update a cost center that is identified by the passed cost center id with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostCenterCreation"
              },
              "examples": {
                "costCenterExample": {
                  "$ref": "#/components/examples/costCenterCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cost center that was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostCenter"
                },
                "examples": {
                  "costCenterExample": {
                    "$ref": "#/components/examples/costCenterExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/ledgers": {
      "get": {
        "summary": "Search ledgers",
        "operationId": "searchLedgers",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "description": "Search all ledgers that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ledgers"
                },
                "examples": {
                  "ledgersExample": {
                    "$ref": "#/components/examples/ledgersExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create ledger",
        "operationId": "createLedger",
        "tags": [
          "Accounting"
        ],
        "description": "Create a new ledger with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerCreation"
              },
              "examples": {
                "ledgerCreationExample": {
                  "$ref": "#/components/examples/ledgerCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ledger that was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ledger"
                },
                "examples": {
                  "ledgerExample": {
                    "$ref": "#/components/examples/ledgerExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/ledgers/{ledgerId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ledgerIdPath"
        }
      ],
      "get": {
        "summary": "Get ledger",
        "operationId": "getLedger",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "description": "Get ledger that is identified by the passed ledger id.\n",
        "responses": {
          "200": {
            "description": "Returns ledger details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ledger"
                },
                "examples": {
                  "ledgerExample": {
                    "$ref": "#/components/examples/ledgerExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update ledger",
        "operationId": "updateLedger",
        "tags": [
          "Accounting"
        ],
        "description": "Update a ledger that is identified by the passed ledger id with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerCreation"
              },
              "examples": {
                "ledgerExample": {
                  "$ref": "#/components/examples/ledgerCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ledger that was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ledger"
                },
                "examples": {
                  "ledgerExample": {
                    "$ref": "#/components/examples/ledgerExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete ledger",
        "operationId": "deleteLedger",
        "tags": [
          "Accounting"
        ],
        "description": "Delete a ledger that is identified by the passed ledger id.\n",
        "responses": {
          "202": {
            "description": "Returns deletion status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStatus"
                },
                "examples": {
                  "successStatusExample": {
                    "$ref": "#/components/examples/successStatusExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/taxCodes": {
      "get": {
        "summary": "Search tax codes",
        "operationId": "searchTaxCodes",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "description": "Search all tax codes that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCodes"
                },
                "examples": {
                  "taxCodesExample": {
                    "$ref": "#/components/examples/taxCodesExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create tax code",
        "operationId": "createTaxCode",
        "tags": [
          "Accounting"
        ],
        "description": "Create a new tax code with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxCodeCreation"
              },
              "examples": {
                "taxCodeCreationExample": {
                  "$ref": "#/components/examples/taxCodeCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tax code that was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCode"
                },
                "examples": {
                  "taxCodeExample": {
                    "$ref": "#/components/examples/taxCodeExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounting/taxCodes/{taxCodeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/taxCodeIdPath"
        }
      ],
      "get": {
        "summary": "Get the tax code",
        "operationId": "getTaxCode",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Accounting"
        ],
        "description": "Get tax code that is identified by the passed tax code id.\n",
        "responses": {
          "200": {
            "description": "Returns tax code details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCode"
                },
                "examples": {
                  "taxCodeExample": {
                    "$ref": "#/components/examples/taxCodeExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem."
          }
        }
      },
      "put": {
        "summary": "Update tax code",
        "operationId": "updateTaxCode",
        "tags": [
          "Accounting"
        ],
        "description": "Update a tax code that is identified by the passed tax code id with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxCodeCreation"
              },
              "examples": {
                "taxCodeExample": {
                  "$ref": "#/components/examples/taxCodeCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax code that was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCode"
                },
                "examples": {
                  "taxCodeExample": {
                    "$ref": "#/components/examples/taxCodeExample"
                  }
                }
              }
            }
          },
          "400": {
[...]
