{
  "openapi": "3.1.0",
  "info": {
    "title": "plenigo API v3",
    "description": "This is the OpenAPI description for accessing the plenigo platform.\nAll API calls are by default synchronous. Asynchronous calls are marked.\n",
    "version": "API.241104-MINOR",
    "contact": {
      "url": "https://github.com/plenigo/plenigo-doc"
    }
  },
  "servers": [
    {
      "url": "https://api.plenigo.com/api/v3.0"
    }
  ],
  "security": [
    {
      "plenigoToken": []
    }
  ],
  "x-tagGroups": [
    {
      "name": "Customers",
      "tags": [
        "Access Rights",
        "Activities",
        "Addresses",
        "Corporate Accounts",
        "Customers",
        "Payment Methods",
        "Sessions"
      ]
    },
    {
      "name": "Finance",
      "tags": [
        "Accounting",
        "Disputes",
        "Invoices",
        "Refunds",
        "Transactions"
      ]
    },
    {
      "name": "Imports",
      "tags": [
        "Order Imports"
      ]
    },
    {
      "name": "Merchant Backend",
      "tags": [
        "Backend User Session"
      ]
    },
    {
      "name": "Processes",
      "tags": [
        "Checkout",
        "Login",
        "Password Forgotten",
        "Process Settings",
        "Registration",
        "Sso Provider Login"
      ]
    },
    {
      "name": "Products",
      "tags": [
        "Age Rules",
        "Bonuses",
        "Cross Sellings",
        "Delivery Lists",
        "IVW Rules",
        "Misuse Rules",
        "Offers",
        "Price Country Segments",
        "Price Issues",
        "Product Access Rights",
        "Product Contracts",
        "Product Tags",
        "Shopping Carts",
        "Vouchers"
      ]
    },
    {
      "name": "Purchases",
      "tags": [
        "App Stores",
        "Orders",
        "Subscriptions",
        "Wallets"
      ]
    },
    {
      "name": "Reports",
      "tags": [
        "Callback Logs",
        "Downloads",
        "Mail Logs",
        "Sftp Logs"
      ]
    },
    {
      "name": "Settings",
      "tags": [
        "Api Access Tokens",
        "Additional Data Selections",
        "Blocked ibans",
        "Customer Cancellation Reasons",
        "Customer OptIns",
        "Customer Terms",
        "Sort Tree Leafs",
        "Text Module Settings"
      ]
    }
  ],
  "paths": {
    "/accessRights": {
      "get": {
        "summary": "Search access rights",
        "operationId": "searchAccessRights",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Access Rights"
        ],
        "description": "Search all access rights that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRightsData"
                },
                "examples": {
                  "accessRightsDataExample": {
                    "$ref": "#/components/examples/accessRightsDataExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appStores/appleAppStore": {
      "get": {
        "summary": "Search Apple purchases",
        "operationId": "searchAppleAppStorePurchases",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "App Stores"
        ],
        "description": "Search all Apple purchases that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/tokenQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppleAppStorePurchases"
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Apple purchase",
        "operationId": "addAppleAppStorePurchase",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "App Stores"
        ],
        "description": "Add an Apple app store purchase to the plenigo system and retrieve a token for further processing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppleAppStorePurchaseAddition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStorePurchaseList"
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appStores/googlePlayStore": {
      "get": {
        "summary": "Search Google Playstore purchases",
        "operationId": "searchGooglePlayStorePurchases",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "App Stores"
        ],
        "description": "Search all Google Playstore purchases that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/tokenQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GooglePlayStorePurchases"
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add Google purchase",
        "operationId": "addGooglePlaystorePurchase",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "App Stores"
        ],
        "description": "Add a Google Playstore purchase to the plenigo system and retrieve a token for further processing.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GooglePlayStorePurchaseAddition"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Purchase data.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AppStorePurchase"
                    },
                    {
                      "$ref": "#/components/schemas/AppStorePurchaseList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appStores/orders": {
      "get": {
        "summary": "Search app store order",
        "operationId": "searchAppStoreOrders",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "App Stores"
        ],
        "description": "Search all app store orders that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreOrders"
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "Search customers",
        "operationId": "searchCustomers",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "description": "Search all customers that correspond to the given search conditions. It is important to note that email, username, and\nexternalSystemid exclude each other so only one query parameter is used. The defined priority is email, username, externalSystemId.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/externalSystemIdQuery"
          },
          {
            "$ref": "#/components/parameters/emailQuery"
          },
          {
            "$ref": "#/components/parameters/usernameQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customers"
                },
                "examples": {
                  "customersExample": {
                    "$ref": "#/components/examples/customersExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create customer",
        "operationId": "createCustomer",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Customers"
        ],
        "description": "Create a new customer with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreation"
              },
              "examples": {
                "customerCreationExample": {
                  "$ref": "#/components/examples/customerCreationExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer that was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "customerCreationResultExample": {
                    "$ref": "#/components/examples/customerCreationResultExample"
                  }
                }
              }
            }
          },
          "208": {
            "description": "Returns existing customer if a customer with same email and id already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "customerCreationResultExample": {
                    "$ref": "#/components/examples/customerCreationResultExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "summary": "Search invoices",
        "operationId": "searchInvoices",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Invoices"
        ],
        "description": "Search all invoices that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/orderIdQuery"
          },
          {
            "$ref": "#/components/parameters/subscriptionItemIdQuery"
          },
          {
            "$ref": "#/components/parameters/filterByInvoiceDateQuery"
          },
          {
            "$ref": "#/components/parameters/invoiceTypeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                },
                "examples": {
                  "invoiceExample": {
                    "$ref": "#/components/examples/invoicesExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "Search orders",
        "operationId": "searchOrders",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "description": "Search all orders that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/externalSystemIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                },
                "examples": {
                  "orderExample": {
                    "$ref": "#/components/examples/ordersExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}/additionalData": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderIdPath"
        }
      ],
      "get": {
        "summary": "Get additional data",
        "operationId": "getOrderAdditionalData",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "description": "Returns additional data associated with the order associated with the provided order id.\n",
        "responses": {
          "200": {
            "description": "Returns additional data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalOrderData"
                },
                "examples": {
                  "additionalDataExample": {
                    "$ref": "#/components/examples/additionalOrderDataExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/paymentMethods/bankAccounts/{bankAccountId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/bankAccountIdPath"
        }
      ],
      "get": {
        "summary": "Get a bank account entity",
        "operationId": "getBankAccount",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Payment Methods"
        ],
        "description": "Get bank account that is identified by the passed bank account id.\n",
        "responses": {
          "200": {
            "description": "Returns bank account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                },
                "examples": {
                  "paymentMethod": {
                    "$ref": "#/components/examples/bankAccountExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update bank account entity",
        "operationId": "updateBankAccount",
        "tags": [
          "Payment Methods"
        ],
        "description": "Update a bank account that is identified by the passed bank account id with the data provided.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountChange"
              },
              "examples": {
                "paymentMethod": {
                  "$ref": "#/components/examples/bankAccountExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                },
                "examples": {
                  "paymentMethod": {
                    "$ref": "#/components/examples/bankAccountExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a bank account",
        "operationId": "deleteBankAccount",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Payment Methods"
        ],
        "description": "Delete a bank account. This is only possible if bank account is not associated with a subscription. Otherwise the subscription association must be\nremoved first.\n",
        "responses": {
          "202": {
            "description": "Bank account successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessStatus"
                },
                "examples": {
                  "sessionExample": {
                    "$ref": "#/components/examples/successStatusExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bank account cannot be deleted because it is still used by subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/offers": {
      "get": {
        "summary": "Search offers",
        "operationId": "searchProductOffers",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Offers"
        ],
        "description": "Search all offers that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/parameters-plenigoOfferIdQuery"
          },
          {
            "$ref": "#/components/parameters/sortTreeLeafIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offers"
                },
                "examples": {
                  "offersExample": {
                    "$ref": "#/components/examples/offersExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/priceIssues": {
      "get": {
        "summary": "Search price issues",
        "operationId": "searchProductPriceIssues",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Price Issues"
        ],
        "description": "Search all price issues that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceIssues"
                },
                "examples": {
                  "priceIssuesExample": {
                    "$ref": "#/components/examples/priceIssuesExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/refunds": {
      "get": {
        "summary": "Search refunds",
        "operationId": "searchRefunds",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Refunds"
        ],
        "description": "Search all refunds that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/customerIdQuery"
          },
          {
            "$ref": "#/components/parameters/parameters-statusQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refunds"
                },
                "examples": {
                  "refundsExample": {
                    "$ref": "#/components/examples/refundsExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo merchant user session provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/settings/customerCancellationReasons": {
      "get": {
        "summary": "Search cancellation reasons",
        "operationId": "searchCustomerCancellationReasons",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Customer Cancellation Reasons"
        ],
        "description": "Search all cancellation reasons that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCancellationReasons"
                },
                "examples": {
                  "cancellationReasonsExample": {
                    "$ref": "#/components/examples/customerCancellationReasonsExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "Search subscriptions",
        "operationId": "searchSubscriptions",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "description": "Search all subscriptions that correspond to the given search conditions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/sizeQuery"
          },
          {
            "$ref": "#/components/parameters/startTimeQuery"
          },
          {
            "$ref": "#/components/parameters/endTimeQuery"
          },
          {
            "$ref": "#/components/parameters/startingAfterQuery"
          },
          {
            "$ref": "#/components/parameters/endingBeforeQuery"
          },
          {
            "$ref": "#/components/parameters/sortQuery"
          },
          {
            "$ref": "#/components/parameters/subscriptionItemIdQuery"
          },
          {
            "$ref": "#/components/parameters/externalSystemIdQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriptions"
                },
                "examples": {
                  "subscriptionsExample": {
                    "$ref": "#/components/examples/subscriptionsExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request is not formatted correctly or contains invalid data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                },
                "examples": {
                  "errorResultBadRequestExample": {
                    "$ref": "#/components/examples/errorResultBadRequestExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionIdPath"
        }
      ],
      "get": {
        "summary": "Get subscription",
        "operationId": "getSubscription",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "description": "Get subscription that is identified by the passed subscription id.\n",
        "responses": {
          "200": {
            "description": "Returns subscription details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                },
                "examples": {
                  "subscriptionExample": {
                    "$ref": "#/components/examples/subscriptionExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultInternalErrorExample"
                  }
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultBadGatewayErrorExample"
                  }
                }
              }
            }
          },
          "504": {
            "description": "Processing of your request took to long. To prevent blocking we aborted the request. You can resend your request without any changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultGatewayTimeoutErrorExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/chain/{chainId}/additionalData": {
      "parameters": [
        {
          "$ref": "#/components/parameters/chainIdPath"
        }
      ],
      "get": {
        "summary": "Get additional chain data",
        "operationId": "getSubscriptionChainAdditionalData",
        "security": [
          {
            "plenigoToken": []
          }
        ],
        "tags": [
          "Subscriptions"
        ],
        "description": "Returns additional data associated with the chain associated with the provided chain id.\n",
        "responses": {
          "200": {
            "description": "Returns additional data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdditionalChainData"
                },
                "examples": {
                  "additionalChainDataExample": {
                    "$ref": "#/components/examples/additionalChainDataExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Plenigo api token provided is not valid or doesn't have necessary rights to access this method.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultUnauthorizedExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Entity for given id does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultNotFoundExample": {
                    "$ref": "#/components/examples/errorResultNotFoundExample"
                  }
                }
              }
            }
          },
          "429": {
            "description": "The rate limit for this endpoint is reached. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResultBase"
                },
                "examples": {
                  "errorResultUnauthorizedExample": {
                    "$ref": "#/components/examples/errorResultTooManyRequestsExample"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Currently we are not able to answer your request but we are working hard to resolve this problem.",
            "content": {
              "application/json": {
                "schema": {
[...]
