{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}
from .client import AuthenticatedClient, Client

from enum import StrEnum


class Environment(StrEnum):
    STAGING = STAGE = "https://api.plenigo-stage.com/api/v3.0"
    PRODUCTION = PROD = LIVE = "https://api.plenigo.com/api/v3.0"

__all__ = (
    "AuthenticatedClient",
    "Client",
    "Environment"
)
